@tailwind base;
@tailwind components;
@tailwind utilities;

.fetured-img {
  background-image: url("./assets/home/featured.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
/* SwiperStyles.css */
.mySwiper .swiper-pagination {
  position: relative;  
}
.mySwiper .swiper-pagination-bullet {  
  margin-top: 70px !important;  
}
